<section class="panel panel-default">
	
	<div class="panel-heading">
		<h4>Create a New Car</h4>
	</div>
	
	<div class="panel-body">
		<form action="/cars" method="POST">
			<div class="form-group">
				<input type="text" name="registration_number" class="form-control" placeholder="Registration Number">
			</div>

			<div class="form-group">
				<input type="text" name="color" class="form-control" placeholder="Color">
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success">
			</div>
		</form>
	</div>
</section>